# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.ipynb_checkpoints/

# Environnements locaux
.venv/
venv/
.venv-yolo/

# Donnees et artefacts lourds
data/
results/

# Poids et checkpoints telecharges localement
*.pt
*.pth
*.ckpt

# Caches et sorties temporaires
*.cache
*.log

# Artefacts Jupyter/visualisation non utiles au repo
*.png
*.jpg
*.jpeg
